<div class="content-wrapper">
	<div class="content">
		<h2 class="content-head is-center">APPLIANCE AND RATES</h2>

		<div class="pure-g">
			<div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
				{{#each appliance}}
				<h3 class="content-subhead">
					<i class="fa fa-minus"></i>
					<p>{{this.name}} = R{{this.rate}}</p>
				</h3>
				{{/each}}
			</div>
		</div>
		<div>
			<div>
				<p>
					<a href="/streets" class="pure-button pure-button-primary">VIEW STREETS</a>
				</p>
			</div>
		</div>
	</div>
</div>